dist
node_modules
.cache
.DS_Store
yarn-error.log
server-data
mapgen-temp

saved-maps/*
!saved-maps/main
saved-maps/*/meta.json
saved-maps/*/accounts
saved-maps/*/containers
saved-maps/*/players

firebase-service-key.json