button {
  color: inherit;
  background-color: transparent;
  outline: none;
  border: solid 1px var(--text-color);
  padding: 5px;
}
button:hover,
button:focus {
  background: #0053ba;
}
button:active {
  transform: scale(0.99);
}
button:disabled {
  opacity: 0.5;
}
