[Unit]
Description=Gridia server
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
ExecStart=/root/gridia/gridia-2019-wip/deploy/start.sh
Restart=always
RestartSec=1
Environment=NODE_ENV=production
WorkingDirectory=/root/gridia/gridia-2019-wip

[Install]
WantedBy=default.target
