[Unit]
Description=Gridia server
After=network.target
StartLimitIntervalSec=0
RestartSec=1

[Service]
ExecStart=/home/gridia/gridia-2019-wip/dist/server/run-server.js
Restart=always
User=me
Group=group
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/gridia/gridia-2019-wip

[Install]
WantedBy=multi-user.target
